* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


/* Define a cor da barra de rolagem */
::-webkit-scrollbar {
  width: .32rem;
  border-radius: 50rem;
}

/* Define a cor do fundo da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #1d1d1d11;
  border-radius: 50rem;
}